{% extends "contests/includes/base.html" %} 
{% block title %} Contest Details {% endblock title %}} 

{% block content %}
<div class="card container">
    <div class="row">
    <div class="col-md-8">
        <div class="row container">
        <h1><span>{{ contest }} </span></h1>
        <br>
    </div>
    <span>
        <div class="row">
        <div class="col-md-3"><b>Contest Holder: </b>{{ contest.client }}</div>
        <div class="col-md-3"><b>Category: </b>{{ contest.category }}</div>
        <div class="col-md-3"><b>Ends in: </b> <span id="end_date"></span> </div>
        <div class="col-md-3"><a href="{% url 'contests:submit_entry' contest.id %}" class="btn btn-dark float-right">Submit Entry</a>
        </div>
        
    </div>
    </span>
        <hr><br>
        <h3>Contest Brief</h3>
        {{ contest.about }} <hr><br>

                        
    </div>
    <div class-"col-md-4 container" style="width: 20rem;">
       <center> <br>
           <h4 class="card-title">WINNER</h4> <hr>           
        <img class="card-img-top" src="" alt="WINNER IMAGE HERE">
                    <div class="card-body">
                      <p class="card-title">No winners yet</p>
            </div>
        </center>
    </div>
</div>

    <h3>Entries:</h3><br>
    {% for entry in contest.entry_set.all%} 
    <div class="col-md-3 card container" style="width: 20rem;">
            <img class="card-img-top" src="/uploads/{{ entry.files }}" alt="{{ contest }}">
            <div class="card-body">
              <p class="card-text">{{ entry }}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    <div class="col-md-1"></div>
    {% endfor %}
    <br>

    
</div>

{% endblock content %}