{% extends "contests/includes/base.html" %}

{% block title %}
    Create Project
{% endblock title %}


{% block content %}
    {% load bootstrap4 %}
    <div class=" card container shadow">
    <br>    
    <div class="row">
    <h1 class="col-md-8">Create a Project</h1>
    <div class="col-md-4">
    
<form id="create-project-form" method="POST" enctype="multipart/form-data">
    <input type="button" class="btn btn-primary float-right" formaction="{% url 'projects:save_as_draft' %}" value="Save As Draft" onclick="saveDraft()"></input>
    </div>
        </div>
        <br>{% csrf_token %}
        <div class="col-md-6">
            {% bootstrap_field form.title %}
            {% bootstrap_field form.category %}
            {% bootstrap_field form.description %}
        </div>
        <div class="col-md-6">
            
            {% bootstrap_field form.files %}
            {% bootstrap_field form.end_date %}
        </div>
    
    {% buttons %}
    <br>
    <center>
            <h4>Total: GHS <span id="totalCost">0</span>.00</h4>
        </center>
        <br>
    <div class="row">
            <div class="col-md-6">
                <a type="button" class="btn btn-secondary btn-block" href="{% url 'home' %}">Cancel</a>
            </div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-block btn-warning">
            </div>
    </div>
    <br>
    {% endbuttons %}
    </form>

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    
    <script>
        var category_costs = "{{ category_prices }}";
        //replacing "&quot;" with "", to make valid json
        category_costs = JSON.parse(category_costs.replace(/&quot;/g, '"'));



        function findCategoryPrice(category_id){
            var price = 0;
            $.each(category_costs, function(){
                if(this.id==category_id){
                    price = this.prize_lower_limit;
                }
            });
            return price;
        }
    
        $("#id_category").change(
            function(){
                newCategory = $("select option:selected").val();
                newCategoryPrize = findCategoryPrice(newCategory);
                $("#totalCost ").text(newCategoryPrize);
            }
        );

        function saveDraft() {
                var url = "{% url 'projects:save_as_draft' %}"; // the script where you handle the form input.
                $.ajax({
                       type: "POST",
                       url: url,
                       data: $("#create-project-form").serialize(), // serializes the form's elements.
                       success: function(data){
                           alert(data); // show response from the view
                           window.location.href="{% url 'dashboard' %}";
                       }
                });
        }

    </script>
{% endblock content %}