{% extends "contests/includes/base.html" %} {% block title %} Create a Contest {% endblock title %} q {% block content %}
{% load bootstrap4 %}


<div class="row">
    
    <div class=" card col-md-7 container shadow">
        <br>
        <h1>Create a Contest</h1>
        <hr>
        <form method="POST" enctype="multipart/form-data">
            <br> {% csrf_token %} 
            {% bootstrap_field form.title %} 
            {% bootstrap_field form.end_date %} 
            {% bootstrap_field form.prize %} 
            {% bootstrap_field form.category %} 
            {% bootstrap_field form.preferred_style %} 
            {% bootstrap_field form.preferred_colors %} 
            {% bootstrap_field form.target_audience %} 
            {% bootstrap_field form.design_details %}
            {% bootstrap_field form.would_like_to_print %} 
            {% bootstrap_field form.logo %} 
            {% bootstrap_field form.sketch %}

            <br><br><br>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 ml-auto card container " style="height:45rem;">
        <br>
        <h4>Get the most from your contest!</h4>
        <hr><br>
        <div class="row">
            <div class="col-3">
                <center>{% bootstrap_field form.is_top %} </center>
                <h4>GHS30</h4><br>
                <center>{% bootstrap_field form.is_hidden %}</center>
                <h4>GHS25</h4><br>
                <center>{% bootstrap_field form.is_nda %}</center>
                <h4>GHS15</h4><br>
                <center>{% bootstrap_field form.is_sealed %}</center>
                <h4>GHS20</h4><br>
            </div>
            <div class="col-9">
                <button type="button" class="btn btn-danger btn-block" onclick="triggerCheckbox('#id_is_top')">TOP</button>
                <center>
                    <div class="help-block">Make top contest (Get top brandlancers to participate)</div>
                </center><br>
                <button type="button" class="btn  btn-block" onclick="triggerCheckbox('#id_is_hidden')">HIDDEN</button>
                <center>
                    <div class="help-block">Hide all entries (this would ensure designers submit more original works)</div>
                </center><br>
                <button type="button" class="btn btn-primary btn-block" onclick="triggerCheckbox('#id_is_nda')">NDA</button>
                <center>
                    <div class="help-block">Add a Non-Disclosure Agreement</div>
                </center><br>
                <button type="button" class="btn btn-dark btn-block" onclick="triggerCheckbox('#id_is_sealed')">PRIVATE</button>
                <center>
                    <div class="help-block">Make contest private. Only brandlancers can view.</div>
                </center><br>


            </div>
        </div>
        {% buttons %}
        <center>
            <h4>Total: GHS 300<span id="totalCost"></span></h4>
        </center>
        <hr>
        <center>By clicking 'Post Contest' button you accept our <strong>Terms of Use</strong> and <strong>Privacy Policy</strong></center>
        <br>
        <button type='submit' class="btn btn-success btn-block ">Post Contest</button> {% endbuttons %}
    </div>
    </form>
</div>

<style>
    .help-block {
        color: #868e96
    }
</style>

<script>
    var currentCost = $("#id_cost").value();

    function updateCostValue(newValue){
        $("#id_cost").text = newValue;
    }

    $("#id_category").onfocusout(
        function(){
            //update the cost value.
        }
    );

    function triggerCheckbox(checkbox) {
        console.log("method called");
        var button = $(checkbox);
        if (button.prop("checked") == true) {
            button.prop("checked", false);
            $("#totalCost").text("0");

        } else {
            button.prop("checked", true);
            $("#totalCost").text("0");
        }
    }

    $('input:checkbox').change(
        function () {
            if ($(this).is(':checked')) {
                var newTotal = parseInt($('#totalCost').val());
                newTotal = newTotal + parseInt('30');
                $("#totalCost").text(newTotal);
            }
        });


    $(document).ready(function () {
        var now = new Date();
        var numberOfDaysToAdd = 3;
        now.setDate(now.getDate() + numberOfDaysToAdd);
        console.log(now+" is the 3 days from today")
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $("#id_end_date").val(today);

        $("#id_prize").val(500)
    });

</script>

{% endblock content %}