{% extends "contests/custom_admin_base.html" %}

{% block header %}
Print Orders
{% endblock header %}

{% block content %}
<h3>New Print Orders</h3> 
<table class="table table-bordered">
    {% for print in new_print_orders %}
    <tr >
        <td><h5>
            {{ print }} <span class="label label-warning">new</span>  {% if print.is_paid == False %}<span class="label label-danger">not paid for</span>{% else %} <span class="label label-success">paid</span> {% endif %}
            </h5>
        </td>
        <td>
            <a href="{% url 'custom_admin:print_order_details' print.id %}" class="btn btn-primary">Details</a>
            <a href="" class="btn btn-warning">Edit</a>
            <a href="" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

<h3>Others </h3>
<table class="table table-bordered">
    {% for print in old_print_orders %}
    <tr>
        <td>{{ print }} {% if print.is_paid == False %}<span class="label label-danger">not paid for</span>{% endif %}</td>
        <td>
            <a href="" class="btn btn-primary">Details</a>
            <a href="" class="btn btn-warning">Edit</a>
            <a href="" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}