{% extends "contests/custom_admin_base.html" %}

{% block header %}
    <div class="row">
        <div class="col-md-6">
                {{ project }}
        </div>        
        <div class="col-md-4">
                <div class=" pull-right">
                        <a class="btn btn-success">Make Submission</a>
                        <a class="btn btn-warning">Edit</a>
                        <a class="btn btn-danger">Delete</a>
                </div>
        </div>
    </div>    

    
{% endblock %}

{% block content %}
<div class="container">
    <h3>Client: </h3> {{ project.client }} <br>
    <h3>Title</h3> {{ project.title }} <br>
    <h3>End Date:</h3> {{ project.end_date }} <br>
    <h3>Draft:</h3> {{ project.is_draft }} <br>
    <h3>Description:</h3> {{ project.description }} <br>
    <h3>Category:</h3> {{ project.category }} <br>
    <h3>Files:</h3> {{ project.files }} <br>
    <h3>Cost:</h3> {{ project.cost }} <br>
</div>
{% endblock %}