{% extends "contests/custom_admin_base.html" %}

{% block header %}
Transactions History
{% endblock header %}

{% block content %}
{% load static %}
<table class="table table-bordered" id="table">
    <tr>
        <th>Date:</th>
        <th>Client:</th>
        <th>Type:</th>
        <th>Amount:</th>
        <th>Status:</th>
    </tr>
    {% for trans in transactions %}
    <tr>
        <td><span>{{ trans.created_at }}</span></td>
        <td><span>{{ trans.client }}</span></td>
        <td><span>{{ trans.type }}</span></td>
        <td><span>GHS{{ trans.amount }}</span></td>
        <td><span>{{ trans.status }}</span></td>
    </tr>
    {% endfor %}
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'contests/js/jspkg-archive/jquery.dynatable.js' %}">
$(document).ready(
    function(){
        $("#table").dynatable(); 
        console.log("dynatable is workingi");   
    }
);
</script>
{% endblock content %}