{% extends "contests/custom_admin_base.html" %}

{% block header %}
Contests
{% endblock header %}

{% block content %}
<table class="table table-bordered">
    <tr>
        <th>Contest Name</th>
        <th>Actions</th>
    </tr>
        
{% for contest in contests %}
    <tr>
        <td>
            {% if contest.is_touched == False %}
            <span class="label label-warning">new</span>
            {% endif %}    
            {{ contest }} 
            
        </td>
        <td>
            <a href="{% url 'custom_admin:verify_contest' contest.id %}" class=" btn-sm btn btn-success">Verify</a>
            <a href="" class="btn btn-primary btn-sm">View Details</a>                        
            <a href="" class="btn btn-sm btn-warning">Edit</a>
            <a href="" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
{% endfor %}

</table>
{% endblock content %}