{% extends "contests/includes/base.html" %} {% block title %} Dashboard {% endblock title %} {% block content %}
<h1>Dashboard</h1>

<div class="row">
    <div class="card col-8 shadow">
        <br>
        <h2>News Feed </h2>
        <center>
            <ul class="nav nav-tabs justify-content-center">
                <li class="active">
                    <a data-toggle="tab" href="#contests">Contests</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#projects">Projects</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#achieve">Achievements</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#transactions">Transactions</a>
                </li>
            </ul>
        </center>

        <div class="tab-content">
            <div id="contests" class="tab-pane fade in active">
                {% include "contests/includes/dashboard_contests.html" %}
            </div>
            <div id="projects" class="tab-pane fade">
                 {% include "contests/includes/dashboard_projects.html" %}
            </div>
            <div id="achieve" class="tab-pane fade">
                {% include "contests/includes/dashboard_achievements.html" %}
            </div>
            <div id="transactions" class="tab-pane fade">
                <div class="container">
                    {% include "contests/includes/dashboard_transactions.html" %}
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4 ml-auto">

        <div class="card shadow">
            {% include "contests/includes/dashboard_user_details.html" %}
        </div>
    </div>
</div>
<br>
<br> {% endblock content %}