{% extends "contests/includes/base.html" %} 
{% block title %} Dashboard {% endblock title %} 

{% block content %}
<h1>Dashboard</h1>

<div class="container">
    <center>
        <div class="btn-toolbar-lg" role="toolbar">
            <a class="btn btn-warning btn-lg mr-1" href="contests:index"> Order Print </button>
            <a class = "btn btn-warning btn-lg" href="{% url 'contests:create_contest' %}"> Create Contest </a>
        </div>
    </center>
</div>
<br>
<div class="row">
    <div class="card col-8 shadow">
        <br>
        <h2>News Feed</h2>
        <hr>
        <h4>Contests:</h4>
        {% for contest in contests %}
            {{ contest }}
            <br>
        {% endfor %}
    </div>

    <div class="col-md-4 ml-auto">

        <div class="card shadow">
            <div class="container "><br>
                <h2> Welcome {{ request.user }} <a class="btn btn-primary float-right" href="">Edit Profile</a></h2>
                <hr>
                <h4>Profile</h4>
                <span><b>Phone Number: </b><span class="float-right">{{ request.user.profile.phone_number }}</span></span>
                <br>
                <hr>
                <h4>Skills</h4>
                <span>{{ request.user.profile.skills }}</span>
                <br><hr>
                <h4>Funds</h4>

                <br><hr>
                <h4>Statistics</h4><br>
                <hr>
            </div>
        </div>
    </div>
</div>
<br><br> 

{% endblock content %}