{% extends "contests/includes/base.html" %} 

{% block title %} My Projects {% endblock %} 

{% block content %}
<h1>My Projects</h1>
<br>
{% for project in projects %}
<div class="col-md-4">
    <div class="card shadow">
        <div class="card-block ">
            <div class="card-title">
                    <h4 class="">{{ project }}
                        {% if project.is_draft is True %}
                        <span>[ Draft ]</span>
                        
                        <a href="{% url 'projects:project_edit' project.id %}" class="card-link float-right" style="color:orange">Edit draft</a>
                    
                    {% else %}
                        <div class="float-right">
                            <a href="{% url 'projects:project_details' project.id %}" class="card-link ">View Details</a>
                            <!-- <a href="{% url 'projects:project_edit' project.id %}" class="card-link " style="color:orange">Edit</a> -->
                            <a href="" class="card-link " style="color:red">Delete</a>
                            
                        </div>
                {% endif %}
                    </h4>
                <hr>
            </div>
            <div class="card-body" style="height:100%">
                {{ project.description | truncatechars:100 }}...
            </div>
            
        </div>
    </div>

</div>
{% endfor %} {% endblock %}