{% extends "contests/includes/base.html" %} 

{% block title %} My Projects {% endblock %} 

{% block content %}
<h1>My Projects</h1>
<br>
{% for project in projects %}
<div class="col-md-4">
    <div class="card shadow">
        <div class="card-block ">
            <div class="card-title" style="height:5rem">
                    <h4>{{ project }}
                        {% if project.is_draft is True %}
                        <span>[ Draft ]</span>
                        
                        <a href="" class="card-link float-right" style="color:orange">Edit draft</a>
                    
                    {% else %}
                        <div class="float-right">
                            <a href="" class="card-link">View Details</a>
                            <a href="" class="card-link" style="color:orange">Edit</a>
                            <a href="" class="card-link" style="color:red">Delete</a>
                        </div>
                {% endif %}
                    </h4>
                <hr>
            </div>
            <div style="height:5rem">
                {{ project.description| truncatechars:300 }}...
            </div>
        </div>
    </div>

</div>
{% endfor %} {% endblock %}