{% extends "contests/includes/base.html" %}

{% block title %}
    Signup
{% endblock title %}

{% block content %}
{% load bootstrap4 %}
<center><h2>Sign up</h2></center>
<div class="card col-md-4 col-md-offset-4 shadow" style="width: 25rem;">
    <div class="card-body">
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type='submit' class="btn btn-primary">Sign up</button>
        {% endbuttons %}
    </form>
    </div>
</div>
{% endblock content %}