{% extends "contests/includes/base.html" %}

{% block title %}
Templates
{% endblock title %}

{% block content %}
<h3>Templates</h3>
<center>
<ul class="nav nav-tabs justify-content-center">
    <li class="active"><a data-toggle="tab" href="#home">Business Cards</a></li>
    <li><a data-toggle="tab" href="#menu1">Fliers</a></li>
</ul>
</center>

<br>


{% for template in templates %}
<div class="col-md-4">
    <div class="card shadow">
        <img src="{{ template.image.url }}" alt="" class="img-responsive card-img-top" style="height:13rem; width:100%;">
    
        <div class="card-body">
            <h5>{{ template.name }} 
                <a class="btn btn-warning float-right" href="{% url 'templates:template_details' template.id %}">Select</a>    
            </h5> <br>
            {{ template.description }}
        </div>
    </div>
        
</div>
{% endfor %}
{% endblock content %}