{% extends "contests/includes/base.html" %}

{% block title %}
Templates
{% endblock title %}

{% block content %}
<h3>Templates</h3><hr>
<center>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">First Category</a></li>
    <li><a data-toggle="tab" href="#menu1">Second Category</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
</ul>
</center>

<br>


{% for template in templates %}
<div class="col-md-4">
    <div class="card shadow">
        <img src="{{ template.image.url }}" alt="" class="img-responsive card-img-top" style="height:13rem; width:100%;">
    
        <div class="card-body">
            <h5>{{ template.name }}</h5> <br>
            {{ template.description }}
            <div class="card-link">
                <a href="" class="pull-right">View Details</a>
            </div>
        </div>
    </div>
        
</div>
{% endfor %}
{% endblock content %}