<div class="container">
    <br>
    <center><h3>Achievements</h3></center>
    {% for entry in accomplishments %}
    <div class="col-md-6 ">
        <div class="card shadow">
            <img src="{{ entry.winning_entry.files.url }}" class="img-responsive class-img-top" style="height:100%; width:100%;">
            <div class="card-body" style="text-align:center;">
                
                <b>{{ entry.winning_entry.title }}</b> won the
                <b>{{ entry.winning_entry.contest }}</b> contest
                
                <center>                        
                    <b>Prize:</b> GHS{{ entry.prize_amount }}
                </center>
                    
            </div>
        </div>

    </div>
    {% endfor %}
</div>