{% load static %}

<div class="footer">
        <div class="container">
            <div class="row">
            <div class="col-md-3 footer-left">
                <h2><a href="{% url 'contests:index' %}"><img src="{% static 'contests/logo.png' %}" alt=" " /></a></h2>
                <p>Ghana's no.1 .</p>
            </div>
            <div class="col-md-9 footer-right">
                <div class="row">
                <div class="col-sm-6 newsleft">
                    <h3>SIGN UP FOR NEWSLETTER !</h3>
                </div>
                <div class="col-sm-6 newsright">
                    <form>
                        <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                        <input type="submit" value="Submit">
                    </form>
                </div>
                </div>
                <div class="row">
                <div class="clearfix"></div>
                <div class="sign-grds">
                    <div class="col-md-4 sign-gd">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="index.html">Copyright Policy</a></li>
                            <li><a href="mens.html">Refund Policy</a></li>
                            <li><a href="womens.html">Join our Team</a></li>
                            <li><a href="electronics.html">Invelment</a></li>
                            <li><a href="codes.html">Brandit Partners</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-4 sign-gd-two">
                        <h4>Store Information</h4>
                        <ul>
                            <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Address : Crowncity Floor, Lane 4,<span>New Bortianor.</span></li>
                            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a href="mailto:info@example.com">print@brandit.express</a></li>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone : +233- 549-2424-05</li>
                        </ul>
                    </div>
                    <div class="col-md-4 sign-gd">
                        <h4>Accepted Payment</h4>
                        <ul>
                            <img src="{% static 'contests/images/brandit-accepted-payment.png' %}" alt="Accepted Payment" class="img-fluid" />
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p class="copy-right">&copy 2017 Brandit. All rights reserved | Member of <a href="http://crowncitytechnologies.com">Crowncity Group</a></p>
            </div>
        </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- login -->
                <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content modal-info">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
                            </div>
                            <div class="modal-body modal-spa">
                                <div class="login-grids">
                                    <div class="login">
                                        <div class="login-bottom">
                                            <h3>Sign up for free</h3>
                                            <form>
                                                <div class="sign-up">
                                                    <h4>Email :</h4>
                                                    <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">	
                                                </div>
                                                <div class="sign-up">
                                                    <h4>Password :</h4>
                                                    <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                                    
                                                </div>
                                                <div class="sign-up">
                                                    <h4>Re-type Password :</h4>
                                                    <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                                    
                                                </div>
                                                <div class="sign-up">
                                                    <input type="submit" value="REGISTER NOW" >
                                                </div>
                                                
                                            </form>
                                        </div>
                                        <div class="login-right">
                                            <h3>Sign in with your account</h3>
                                            <form>
                                                <div class="sign-in">
                                                    <h4>Email :</h4>
                                                    <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">	
                                                </div>
                                                <div class="sign-in">
                                                    <h4>Password :</h4>
                                                    <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                                    <a href="#">Forgot password?</a>
                                                </div>
                                                <div class="single-bottom">
                                                    <input type="checkbox"  id="brand" value="">
                                                    <label for="brand"><span></span>Remember Me.</label>
                                                </div>
                                                <div class="sign-in">
                                                    <input type="submit" value="SIGNIN" >
                                                </div>
                                            </form>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <!-- //login -->
    #	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content modal-info">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
                            </div>
                            <div class="modal-body modal-spa">
                                <div class="login-grids">
                                    <div class="login">
                                        <div class="login-bottom">
                                            <h3>Upload Your Design</h3>
                                            <form action="" method="post" id="frmUpld"  enctype="multipart/form-data">
                                                <div class="sign-up">
                                                             
                                                                    <label for="myfile">File input</label>
                                                                    <input type="file" id="myfile" name="myfile" class="input-round big-input text-lowercase">
                                                                    <?php $product_name = find_by_id('products',10);?>
                                                                    <input type="hidden" name="product-name" id="product-name" value="<?php echo $product_name->prdt_name;?>">
                                                </div>
                                                <div class="sign-up">
                                                     <h4>Material :</h4>
                                                        <select name="material" id="material" class="form-control">
                                                            <option value="0"  >Select</option>
                                                            <?php $mats = DB::getInstance()->query("SELECT * FROM materials WHERE product = 10");   
                                                                foreach ($mats->results() as $key => $value) {
                                                            ?>
                                                            <option value="<?php echo $value->mat_name; ?>" id="<?php echo $value->id; ?>"><?php echo $value->mat_name; ?></option>
                                                            <?php } ?>
                                                        </select>
                                                    <input type="hidden" name="mat-id" id="mat-id">
                                                </div>
                                                <div class="sign-up">
                                                    <h4>Quantity :</h4>
                                                        <select name="quantity" id="quantity" class="form-control">
                                                            <option value="0">Select</option>
                                                            <?php $qaty = DB::getInstance()->query("SELECT DISTINCT qty FROM custom_price WHERE product = 'Brochure'");
                                                                foreach ($qaty->results() as $key => $valu) {
                                                            ?>
                                                            <option value="<?php echo $valu->qty; ?>"><?php echo $valu->qty; ?></option>
                                                            <?php } ?>
                                                        </select>
                                                </div>
                                                    <div class="sign-up">
                                                    <h4>Note :</h4>
                                                        <textarea name="note" id="note" placeholder="enter details or any special note for our team " rows="5"></textarea>
                                                    </div>
                                                     <div class="clearfix"></div>
                                                     <div class="sign-up">
                                                     <h2 >GH₵<img src="/{% static 'contests/images/loader.gif' %}" id="total_loader"><span id="subtotal">00.00</span></h2>
                                                     </div>
                                                     <input type="hidden" name="temp-id" id="temp-id">
                                                        <input type="hidden" name="order-cost" id="order-cost">
                                                        <?php if( !$client->isLoggedIn() ) { $state = 'false';}else{ $state = 'true';} ?>
                                                        <input type="hidden" id="login-state" value="<?php echo $state; ?>">
                                                        
                                                        <div class="clearfix"></div>
                                                <div class="sign-up">
                                                    <div class="col-md-6" ><input type="submit" value="Get cost"></div>
                                                    <button type="submit" id="confirm" class="col-md-6 item_add single-item hvr-outline-out button2">Confirm order</button>
                                                </div>
                                                
                                            </form>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
    
            <script type="text/javascript">
                $(document).ready(function(){
                    //$(document).bind("contextmenu",function(e){return false;});
                    $('img').bind('contextmenu', function(e) {return false;});
                    $('#section-register').hide();$('#section-recover').hide();$('#register-loader').hide(); $('#login-loader').hide(); $('#recover-loader').hide();
                    $('#quick-loader').hide();$('#load-quick-details').hide();$('#quick-confirm').hide();$('#quick_total_loader').hide();
                    //$('#modal-login').modal('show');
                    /*-------------registration---------------------*/
                    $(document).on('submit', '#frmRegister', function(){
                        var pwd_msg = '<div class="alert alert-danger fade in" role="alert" id="alert"><i class="fa fa-warning alert-danger"></i><strong>Oh snap!</strong> Password mismatch.<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button></div>'; 
                        var first_pwd = $('#reg-password').val();  var second_pwd = $('#reg-repassword').val();  
                        $('#alert').hide(); $('#loader').show();
                        var data = $(this).serialize();
                        if (first_pwd != second_pwd) { $('#feedback').html(pwd_msg);
                        }else{
                            $.ajax({type : 'POST',url  : '/ajax/register.php',data : data,
                                //dataType : 'json',
                                success :  function(data){
                                    $('#register-loader').delay( 2000 ).fadeOut();$('#register-feedback').html(data).fadeIn();
                                    $('#frmRegister').find('input:text').val('');$('#frmRegister').find('input:password').val('');
                                    $( "#frmRegister input[type='radio']" ).prop('checked', false);
                                },
                            });
                        }
                        return false;
                    });
                    /*----------------------- login------------------------*/
                    $(document).on('submit', '#frmLogin', function(){
                        $('#login-alert').hide(); $('#login-loader').show();
                        var data = $(this).serialize();
                        $.ajax({type : 'POST',url  : '/ajax/login.php',data : data,
                            success :  function(data){
                                $('#login-loader').delay( 2000 ).fadeOut();$('#login-feedback').html(data).fadeIn();
                                $('#frmLogin').find('input:text').val('');$('#frmLogin').find('input:password').val('');
                                $("#frmLogin input[type='checkbox']" ).prop('checked', false);$('#login-state').val('true');
                            },
                        });
                        return false;
                    });
                    /*------------------ password recovery ----------------*/
                    $(document).on('submit', '#frmRecover', function(){
                        $('#recover-alert').hide(); $('#recover-loader').show();
                        var data = $(this).serialize();
                        $.ajax({type : 'POST',url  : '/ajax/recovery.php',data : data,
                            success :  function(data){
                                $('#recover-loader').delay( 2000 ).fadeOut();$('#recover-feedback').html(data).fadeIn();$('#recover-email').val('');$('#recover-tel').val('');
                            },
                        });
                        return false;
                    });
    
                });//end document ready
                function loginModal(){$('#modal-login').modal('show');}
                $('#login-link').click(function(e) {e.preventDefault();$('#modal-login').modal('show');});
                $('#forget-link').click(function(e) {e.preventDefault();$('#section-login').hide();$('#section-recover').show();});
                $('#load-reg').click(function(e) {e.preventDefault();$('#section-login').hide();$('#section-register').show();});
                $('#load-login').click(function(e) {e.preventDefault();$('#section-login').show();$('#section-register').hide();});
                $('#forget-load-login').click(function(e) {e.preventDefault();$('#section-login').show();$('#section-recover').hide();});
                $('#forget-load-reg').click(function(e) {e.preventDefault();$('#section-register').show();$('#section-recover').hide();});
                $('#reg-find-us-text').focus(function(){$( "#frmRegister input[type='radio']" ).prop('checked', false);});
                $('.close').click(function(e) {e.preventDefault();
                    $('#section-register').hide(); $('#section-recover').hide();$('#section-login').show();
                    $('#register-feedback').html(''); $('#login-feedback').html(''); $('#recover-feedback').html('');
                });
                /*-----------delete cart from navbar-----------*/
                $('.shop-cart .product-remove').click(function(e){
                    e.preventDefault();var id = $(this).parent().attr('id'), list = $(this).parent() ;
                    var data = 'id='+id;
                    //console.log(data);
                    $.ajax({
                        type : 'POST',
                        url  : '/ajax/delete-cart.php',
                        data : data,
                        /*processData: false,
                        contentType: false,*/
                        success :  function(info){
                           list.fadeOut('slow', function() {$(this).remove();}); 
                           console.log(info);
                        },
                    });
                });
                /*-----------quick order modal call-----------*/
                $('#quickorder').click(function(e) {e.preventDefault();$('#quick-order').modal('show');});
    
                $('#quick-product').change(function(){
                    $('#quick-loader').show();
                    var data = 'id='+$(this).val();
                    $.ajax({
                        type : 'POST',
                        url  : '/ajax/quick-orders.php',
                        data : data,
                        /*processData: false,
                        contentType: false,*/
                        success :  function(info){
                           $('#quick-loader').fadeOut('slow'); 
                           $('#load-quick-details').fadeIn('slow');
                           $('#load-quick-details').html(info);
                        },
                    });
                });
                /*--------------how it works ----*/
                $('#how').click(function(e) {e.preventDefault();$('#how-it-works').modal('show');});
                
    
    
            </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5718f7d1e83b10d5038bea97/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->