{% load static %}

<div class="header">
    <div class="container">
        <ul style="height:2rem;">
            <li class="color2">
                <span>
                    <img src="{% static 'contests/images/svg/time' %}" aria-hidden="true">
                </span>Free and Fast Delivery</li>
            <li class="color1">
                <span>
                    <img src="{% static 'contests/images/svg/phone' %}" aria-hidden="true">
                </span>+233 54-924-2405</li>
            <li class="color3">
                <span>
                    <img src="{% static 'contests/images/svg/envelope' %}" aria-hidden="true">
                </span>
                <a href="mailto:print@brandit.express">print@brandit.express</a>
            </li>
        </ul>
    </div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
    <div class="col-md- header-left">
        <span class="header-left float-left" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>
    <div class="container">
        <div class="col-md-3 header-left">
            <h1>
                <a href="{% url 'contests:index' %}">
                    <img src="{% static 'contests/images/logo.png' %}">
                </a>
            </h1>
        </div>
        <center>
            <div class="col-md-6 header-middle">
                <a style="color:white;" class="btn btn-warning " href="{% url 'contests:create_contest' %}">Start Here</a>
            </div>
        </center>
        {% include "contests/includes/side_nav.html" %}
        <div class="col-md-3 header-right footer-bottom">
            <ul>
                <li>
                    <a href="{% url 'contests:login' %}" class="use1" data-toggle="modal" data-target=>
                        <span>Login</span>
                    </a>
                </li>
                <li>
                    <a class="fb" href="#"></a>
                </li>
                <li>
                    <a class="twi" href="#"></a>
                </li>
                <li>
                    <a class="insta" href="#"></a>
                </li>
            </ul>

        </div>
        <div class="clearfix"></div>
    </div>
</div>


<div style="background-color:black; height:3rem" class="col-md-12">
    <a href="{% url 'dashboard' %}">
        <div class="col-sm-2" style="background-color:white; height:3rem; width:7rem"><center>My Projects</center></div>
    </a>
    <div class="col-sm-1" style="width:5rem"></div>
    <a href="">
        <div class="col-sm-2" style="background-color:white; height:3rem; width:7rem"><center>Link</center></div>
    </a>
</div>
<br><br>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
</div>