{% load static %}

<div class="header">
<div class="container">
    <ul style="height:2rem;">
        <li class="color2"><span><img src="{% static 'contests/images/svg/time' %}" aria-hidden="true"></span>Free and Fast Delivery</li>
        <li class="color1"><span><img src="{% static 'contests/images/svg/phone' %}" aria-hidden="true"></span>+233 54-924-2405</li>
        <li class="color3"><span><img src="{% static 'contests/images/svg/envelope' %}" aria-hidden="true"></span><a href="mailto:print@brandit.express">print@brandit.express</a></li>
    </ul>
</div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
        <div class="col-md- header-left"> <span class="header-left float-left" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span> </div>
<div class="container">   
    <div class="col-md-3 header-left">
        <h1><a href="{% url 'contests:index' %}"><img src="{% static 'contests/images/logo.png' %}"></a></h1>
    </div>
    <center><div class="col-md-6 header-middle">
            <a style="color:white;" class="btn btn-warning" href="{% url 'contests:create_contest' %}" >Create A Contest</a>
    </div></center>
    {% include "contests/includes/side_nav.html" %}
    <div class="col-md-3 header-right footer-bottom">
        <ul>
            <li><a href="{% url 'contests:login' %}" class="use1" data-toggle="modal" data-target=><span>Login</span></a></li>
            <li><a class="fb" href="#"></a></li>
            <li><a class="twi" href="#"></a></li>
            <li><a class="insta" href="#"></a></li>
        </ul>

    </div>
    <div class="clearfix"></div>
</div>
</div>
{% comment %} <!-- banner -->
<div class="ban-top">
<div class="container">
    <div class="top_nav_left">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav menu__list">
                <li class="active menu__item menu__item--current"><a class="menu__link" href="{% url 'contests:index' %}">Home <span class="sr-only">(current)</span></a></li>
                <li class="dropdown menu__item">
                    <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="col-sm-4 multi-gd-img1 multi-gd-text ">
                                    <a href="category.php"><img src="{% static 'contests/images/woo1.jpg'  %}" alt=" "/></a>
                                </div>
                                <div class="col-sm-4 multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="businesscards-one-side.php">Business card -> one side</a></li>
                                        <li><a href="businesscards-two-side.php">Business card -> both sides</a></li>
                                        <li><a href="businesscards-folded.php">Business card -> folded</a></li>
                                        <li><a href="businesscards-metal-plate.php">Business card -> metal plate</a></li>
                                        <li><a href="letterheads.php">Letterheads</a></li>
                                        <li><a href="brochure.php">Brochure</a></li>
                                        <li><a href="flyer.php">Flyer</a></li>
                                        <li><a href="cap.php">Cap</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4 multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="product-label.php">Sticker-> product label</a></li>
                                        <li><a href="posters.php">Sticker-> poster</a></li>
                                        <li><a href="x-stand-banner.php">X-stand banner</a></li>
                                        <li><a href="pullup-banner.php">Pullup banner</a></li>
                                        <li><a href="flexi-banner.php">Flexi banner</a></li>
                                        <li><a href="tshirt.php">T-shirts</a></li>
                                        <li><a href="gift-bag.php">Gift bags</a></li>
                                        <li><a href="mug.php">Mugs</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                </li>
                <li class="dropdown menu__item">
                    <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Business Pack<span class="caret"></span></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="col-sm-3 multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="category.php">Domain Name</a></li>
                                        <li><a href="category.php">Web Hosting</a></li>
                                        <li><a href="category.php">Web Design</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="category.php">Logo Design</a></li>
                                        <li><a href="category.php">Digital Marketing</a></li>
                                        <li><a href="category.php">Custom Design</a></li>
                                        
                                    </ul>
                                </div>
                                <div class="col-sm-6 multi-gd-img multi-gd-text ">
                                    <a href="category.php"><img src="{% static 'contests/images/woo.jpg' %}" alt=" "/></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                </li>
                <li class="dropdown menu__item">
                    <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wedding Pack<span class="caret"></span></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="col-sm-3 multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="category.php">Invitation cards</a></li>
                                        <li><a href="category.php">Bridal Showers</a></li>
                                        <li><a href="category.php">Thank you Cards</a></li>
                                        <li><a href="category.php">Wedding Program</a></li>
                                        <li><a href="category.php">Photography</a></li>
                                        <li><a href="category.php">Wedding Website</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="">GIFTS</a></li>
                                        <li><a href="category.php">Mugs</a></li>
                                        <li><a href="category.php">Handkerchief</a></li>
                                        <li><a href="category.php">Keyholders</a></li>
                                        <li><a href="category.php">Towels</a></li>
                                        <li><a href="category.php">Notepad</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 multi-gd-img multi-gd-text ">
                                    <a href="category.php"><img src="{% static 'contests/images/woo.jpg' %}" alt=" "/></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                </li>
                <li class=" menu__item"><a class="menu__link" href="faq.php">FAQ</a></li>
                <li class=" menu__item"><a class="menu__link" href="blog.php">Blog</a></li>
              </ul>
            </div>
          </div>
        </nav>	
    </div>
    <div class="top_nav_right">
        <div class="cart box_1">
                    <a href="checkout.php">
                        <h3> <div class="total">
                            <img src="{% static 'contests/images/svg/shopping-cart' %}" aria-hidden="true">
                            <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>
                            
                        </h3>
                    </a>
                    <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
                    
        </div>	
    </div>
    <div class="clearfix"></div>
</div> {% endcomment %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
</div>